body    {
    background-color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*HEADER*/

.header  {
    height: 15em;
    color: white;
    background-image: url(../imgs/header2.jpg);
    background-attachment: scroll;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

    /*Flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.header p, h1{
    margin: 0;
}

.header h1 {
    padding-right: 2em;
    font-size: 4em;
    color: crimson;
}

.header strong  {
    color: burlywood;
}

.header p {
    padding-right: 4em;
    font-size: 2em;
}


/*CONTENT*/

.content    {
    width: 90%;
    height: auto;
    margin: auto;

    /*Grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

.content    {
    margin: 3.5em;
}

.content img    {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s 0.2s;
    /* border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5); */
}

.content p  {
    margin: 0;
}

.pokemon , .kittens, .ludo, .rubik, .ticket, .uno    {    
    border: solid 1px rgba(0, 0, 0, 0.2);
    
    /*Flex*/
    display: flex;
    align-items: center;    
    gap: 1.5em;
}

.pokemon-info, .kitten-info, .ludo-info, .rubik-info, .ticket-info, .uno-info  {
    flex-grow: 2;

    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: center; */

    display: flex;
    height: 150px;  
    flex-direction: column;
    justify-content: space-between;
}

.button-cart    {
    margin-right: 1.5em;
    padding: 0.8em;
    border: none;
    background-color: #3483fa;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.button-cart:hover  {
    background-color: #1f4f96;
}

.content img:hover {
    transform: scale(1.5, 1.5);
}

/*----------------------------- Parte del Footer -----------------------------*/

.footer {
    background-color: black;
    color: white;
    height: 5em;
    line-height: 5em;
    font-weight: 900;
    text-align: center;
}
